@import "tailwindcss";

@theme {
	--color-primary: var(--primary-color);
	--color-secondary: var(--secondary-color);
	--color-tertiary: var(--tertiary-color);
}

:root {
	--primary-color: #2176ff;
	--secondary-color: #31363f;
	--tertiary-color: #d9d9d9;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--primary-font);
	font-weight: 300;
	color: var(--secondary-color);
}