@import "tailwindcss";

@theme {
	--color-primary: var(--primary-color);
	--color-secondary: var(--secondary-color);
	--color-tertiary: var(--tertiary-color);
	--color-quaternary: var(--quaternary-color);
}

:root {
	--primary-color: #c7522a;
	--secondary-color: #3e2c1c;
	--tertiary-color: #fdf6e3;
	--quaternary-color: #c7512a66;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--tertiary-color);
	font-family: var(--primary-font);
	font-weight: 400;
	color: var(--secondary-color);
}